.start {
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	background-color: #dabeef;
	padding: 2rem;
	border-radius: 10px;
	font-size: 50px;
	margin: auto;
	text-align: center;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}