.start {
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	color: white;
	background-color: #dabeef;
	padding: 2rem;
	border-radius: 10px;
	font-size: 50px;
	/* margin: auto; */
	text-align: center;
}

.grade {
	margin: 3rem;
	font-size: 50px;
	font-family: 'Poppins';
	width: 40%;
	text-align: center;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}